{{#> master data}}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main">
			{{> page-intro pageIntro}}

			{{> text-block textBlock}}

			{{> simple-form simpleForm}}
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
