{{#> master data}}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main lice-ulice-page">
			{{> page-intro pageIntro}}

			{{> text-block textBlock}}

			{{> simple-form simpleForm}}

			{{> testimonials testimonials}}

			{{> image-text imageText}}

			{{> join-module joinUs}}

			<div class="lice-ulice-shape">
				<img src="assets/images/shapes/lice-ulice-shape.svg" alt="">
			</div>
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
