@using System.Web.Optimization
@inherits UmbracoViewPage<PageViewModel>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        Html.RenderAction<LayoutController>(c => nameof(c.MetaTags), new { viewModel = Model.MetaTags });
    }

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    @Styles.Render("~/bundles-css/")

    @RazorHelper.RenderScripts(true, "~/bundles-js/")

</head>
<body>
@{
	Html.RenderAction<LayoutController>(c => nameof(c.Header), new { viewModel = Model.Header });
}
<main class="main">
	@RenderBody()
    @if (Model.ShowJoinUsModule && Model.JoinUs != null)
    {
        Html.RenderAction<NestedContentController>(c => nameof(c.JoinUs), new { viewModel = Model.JoinUs });
    }
</main>
@{
	Html.RenderAction<LayoutController>(c => nameof(c.Footer), new { viewModel = Model.Footer });
}
</body>
</html>
