@inherits UmbracoViewPage<BlogListingPageViewModel>

@if (Model.PageIntro != null)
{
    Html.RenderAction<NestedContentController>(c => nameof(c.PageIntro), new { viewModel = Model.PageIntro });
}

@if (!string.IsNullOrWhiteSpace(Model.Text.ToString()))
{
    <div class="something">@Model.Text</div>
}