@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectPageViewModel>

<div class="lice-ulice-page">
    @if (Model.PageIntro != null)
    {
        Html.RenderAction<NestedContentController>(c => nameof(c.PageIntro), new { viewModel = Model.PageIntro });
    }

    @foreach (var block in Model.Blocks)
    {
        Html.RenderAction<NestedContentController>(c => nameof(c.Block), new { viewModel = block });
    }

    @if (Model.ShowGreenShape)
    {
        <div class="lice-ulice-shape">
            <img src="/assets/images/shapes/lice-ulice-shape.svg" alt="">
        </div>
    }
    else
    {
        <div class="lice-ulice-dot">
            <img src="" alt="">
            @*Fe to finish :D *@
        </div>
    }
</div>