<div class="home-intro">
	<div class="wrap home-intro__wrap">
		<p class="home-intro__text">{{introText}}</p>
		<a class="btn" href="javascript:;">{{readMore}}</a>
		<div class="home-intro__image-outer">
			<div class="home-intro__image">
				<div class="homepage-intro__img has-cover" style="url({{introImg}})"></div>
				<span class="home-intro__circle home-intro__circle--blue"></span>
				<span class="home-intro__circle home-intro__circle--mint"></span>
				<span class="home-intro__circle home-intro__circle--grey"></span>
			</div>
		</div>
	</div>
</div>
