<div class="text-image">
	<div class="wrap wrap--medium">
		<div class="text-image__container">
			<div class="text-image__content">
				<h3 class="h3 text-image__title">{{title}}</h3>
				{{#each text}}
					<p class="text-image__text">{{this}}</p>
				{{/each}}
			</div>
			<div class="text-image__image-outer">
				<div class="text-image__image">
					<div class="text-image__img has-cover" style="background-image: url('{{image}}')"></div>
				</div>
			</div>
			<div class="circle circle--mint text-image__circle"></div>
		</div>
	</div>
</div>
