{{#> master data }}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main">
			{{!-- THIS IS FOR INDEX DEMO PAGES ONLY --}}
			<div class="wrap" style="padding: 60px 30px 40px; font-size: 18px; font-weight: 500; max-width: 600px;">
				<div class="rte">
					<ol>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="homepage.html">Homepage</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="ko-smo-mi.html">Ko smo mi?</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="lice-ulice.html">Lice Ulice</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="klub-kompas.html">Klub Kompas</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="kako-da-nas-podrzis.html">Kako da nas podržiš?</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="novosti.html">Novosti</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="single-blog.html">Single blog</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="kontakt.html">Kontakt</a>
						</li>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="pridruzi-nam-se.html">Pridruži nam se</a>
						</li>
					</ol>
				</div>
			</div>
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
