{{#> master data }}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main">
			{{!-- THIS IS FOR INDEX DEMO PAGES ONLY --}}
			<div class="wrap" style="padding: 60px 30px 40px; font-size: 16px; font-weight: 500; max-width: 600px;">
				<div class="rte">
					<ol>
						<li style="margin-bottom: 5px;">
							<a style="color: #151515;" href="homepage.html">Homepage</a>
						</li>
					</ol>
				</div>
			</div>
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
