@using Patrija.Core.ViewModels.Partials.Features
@inherits UmbracoViewPage<TextBlockViewModel>

<div class="text-block">
    <div class="wrap wrap--medium">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <h3 class="h3 text-block__title">@Model.Title</h3>
        }
        <div class="text-block__content">
            @if (!string.IsNullOrWhiteSpace(Model.TextLeft))
            {
                <p class="text-block__text text-block__text--left">@Model.TextLeft</p>

            }
            @if (!string.IsNullOrWhiteSpace(Model.TextRight))
            {
                <p class="text-block__text text-block__text--right">@Model.TextRight</p>
            }
        </div>
    </div>
</div>
