@using Patrija.Core.ViewModels.Partials.Features;
@inherits UmbracoViewPage<DonationsViewModel>

<div class="donations">
    <div class="wrap wrap--small">
        <div class="donations__content">
            @if (!string.IsNullOrWhiteSpace(Model.Title))
            {
                <h3 class="h3 donations__title">@Model.Title</h3>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Text))
            {
                <p class="donations__text">@Model.Text</p>
            }
        </div>
        @if (Model.Images != null && Model.Images.Any())
        {
            <div class="donations__logos">
                @foreach (var logoImage in Model.Images)
                {
                    <div class="donations__logo">
                        <img class="donations__logo-image" src="@logoImage.Url" alt="@logoImage.AlternateText">
                    </div>
                }
            </div>
        }

    </div>
</div>
