@using Patrija.Core.ViewModels.Partials.PageVariant1
@inherits UmbracoViewPage<TextBlockViewModel>

<div class="text-block">
    <div class="wrap wrap--medium">
        <h3 class="h3 text-block__title">@Model.Title</h3>
        <div class="text-block__content">
            <p class="text-block__text text-block__text--left">@Model.TextLeft</p>
            <p class="text-block__text text-block__text--right">@Model.TextLeft</p>
        </div>
    </div>
</div>
