//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.btn {
	background-color: $blue;
	color: $white;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	padding: 0 30px;
	transition: 0.4s ease-out;
	@include hover {
		background-color: lighten($black, 30%);
	}
}

.btn--mint {
	background-color: $mint;
}

.btn--wide {
	min-width: 270px;
}

.btn--medium {
	min-width: 206px;
}
