//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
}

button,
input[type='button'],
input[type='submit'] {
	font-family: $font-default;
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.btn {
	background-color: $blue;
	font-size: 16px;
	font-weight: 400;
	color: $white;
	line-height: 20px;
	padding: 14px 30px;
	min-width: 206px;
	border-radius: 24px;
	text-align: center;
	display: inline-block;
	.loaded & {
		transition: $duration $ease;
	}
	@include hover {
		box-shadow: 0 10px 16px rgba(39, 142, 208, 0.16);
	}
	@include breakpoint(laptop) {
		padding: 12px 20px;
		min-width: 180px;
	}
	@include mq-only(md) {
		font-size: 14px;
		padding: 12px 20px;
		min-width: 160px;
	}
	@include mq-down(sm) {
		font-size: 14px;
		padding: 10px 20px;
		min-width: 120px;
	}
}

.btn--small {
	min-width: 156px;
}

.btn--wide {
	min-width: 270px;
}

.btn--mint {
	background-color: $mint;
}
