//----------  forms
//------------------------------------------------------------------------------
input,
textarea {
	background: $white;
	box-shadow: none;
	border: 2px solid #ededed;
	color: $grey;
	height: 48px;
	padding: 22px;
	font-weight: 400;
	font-family: $font-default;
	display: inline-block;
	width: calc(100% - 180px);
	&::placeholder {
		color: $black;
	}
	@include mq-down(sm) {
		width: 100%;
		display: block;
	}
}

input {
	border-radius: 50px;
}

textarea {
	border-radius: 20px;
	resize: none;
}

.form__row {
	margin-bottom: 12px;
	font-size: 0;
}

.form__input {
	font-size: 14px;
	line-height: 48px;
	@include mq-down(md) {
		font-size: 16px;
	}
}

.form__input--textarea {
	line-height: 20px;
	height: 110px;
}

.form__label {
	font-size: 14px;
	line-height: 48px;
	color: $grey;
	width: 170px;
	margin-right: 10px;
	display: inline-block;
	font-weight: 400;
	cursor: default;
	@include mq-down(md) {
		font-size: 16px;
	}
	@include mq-down(sm) {
		width: 100%;
		display: block;
		line-height: 36px;
		padding: 0 20px;
	}
}

.form__error-message {
	width: 100%;
	padding-left: 205px;
	font-size: 10px;
	line-height: 16px;
	color: $red;
	font-weight: 400;
	margin-top: 5px;
	display: none;
	@include mq-down(sm) {
		padding: 5px 0 0 18px;
	}
}

.btn--submit {
	margin-left: 180px;
	width: calc(100% - 180px);
	@include mq-down(sm) {
		width: auto;
		margin-left: 0;
	}
}

.form__message-success {
	font-size: 14px;
	line-height: 18px;
	padding-left: 180px;
	font-weight: 400;
	display: none;
}
