<div class="contact-map">
	<div class="wrap wrap--medium">
		<div class="contact-map__container">
			<div class="contact-map__content">
				<div class="contact-map__content-align">
					<h1 class="h2 contact-map__title">{{title}}</h1>
					<p class="contact-map__text">{{text}}</p>
				</div>
			</div>
			<div class="contact-map__image">
				<iframe width="664" height="600" src="https://maps.google.com/maps?q=novi%20sad&t=&z=15&ie=UTF8&iwloc=&output=embed"></iframe>
				<span class="circle circle--blue circle--large"></span>
				<span class="circle circle--mint"></span>
			</div>
		</div>
	</div>
</div>
