<connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=KIVANIC\SQLEXPRESS;database=Patrija;user id=Patrija;password='H@katon20!9'" providerName="System.Data.SqlClient" />
</connectionStrings>


<!--
use this tag for the Production version DB connection string is generated automatically by myasp.net 

<connectionStrings>
  <add name="umbracoDbDSN" connectionString="Data Source=SQL6009.site4now.net;Initial Catalog=DB_A500D7_Patrija;User Id=DB_A500D7_Patrija_admin;Password=fafraf21;" providerName="System.Data.SqlClient" />
</connectionStrings>

-->

