<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!--<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="/CustomError.html" xdt:Transform="Replace">
      <error statusCode="500" redirect="/CustomError500.aspx" />
      <error statusCode="400" redirect="/CustomError400.aspx" />
    </customErrors>-->
  </system.web>

  <system.webServer>

    <!--to uncomment this, Patria needs to buy SSL certificate-->
    <!--<rewrite>
      <rules>
        <rule name="Redirect to https" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="Off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>