//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Montserrat', Tahoma, Verdana, Segoe, sans-serif;

// Colors
$white: #fff;
$whitesmoke: #fafafa;
$black: #000;
$grey: #333;
$grey-light: #c4c4c4;
$blue: #278ed0;
$mint: #28d2c6;
$red: #d8000c;

$site-colors: (
	'black': $black,
	'white': $white,
	'blue': $blue,
	'mint': $mint
) !default;

$duration: 0.3s;
$duration-fast: 0.15s;
$duration-slow: 0.6s;
$ease: ease-in-out;

//----------  Media queries breakpoints - Grid breakpoint
//------------------------------------------------------------------------------

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;
