{{#> master data}}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main">
			{{> page-intro pageIntro}}

			{{> project project}}

			{{> news-slider newsSlider}}

			{{> image-text imageText}}

			{{> links-list linksList}}

			{{> join-module joinUs}}
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
