{{#> master data}}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main">
			{{> page-intro pageIntro}}

			{{> project project}}

			{{> image-text imageText}}
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
