//----------  layout
//------------------------------------------------------------------------------

body {
	font-family: $font-default;
	font-size: 18px;
	font-weight: 300;
	color: $grey;
	line-height: 30px;
}

.scroll-disabled {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.main {
	width: 100%;
	overflow: hidden;
}

.wrap {
	margin: 0 auto;
	max-width: 1768px;
	padding: 0 20px;
	width: 100%;
}

.wrap--medium {
	max-width: 1532px;
}

.wrap--normal {
	max-width: 1368px;
}

.wrap--small {
	max-width: 964px;
}
