//----------  layout
//------------------------------------------------------------------------------

body {
	font-family: $font-default;
	font-size: 18px;
	font-weight: 300;
	color: $grey;
	line-height: 30px;
}

.scroll-disabled {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.main {
	width: 100%;
	overflow: hidden;
}

.wrap {
	margin: 0 auto;
	max-width: 1768px;
	padding: 0 20px;
	width: 100%;
	@include breakpoint(laptop) {
		padding: 0 40px;
	}
}

.wrap--medium {
	max-width: 1532px;
}

.wrap--normal {
	max-width: 1368px;
}

.wrap--small {
	max-width: 964px;
}

// Circles
.circle {
	position: absolute;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	z-index: 100;
	display: block;
}
.circle--blue {
	background-color: $blue;
	box-shadow: 0 10px 16px rgba(39, 142, 208, 0.16), 0 4px 6px rgba(0, 0, 0, 0.06);
}
.circle--mint {
	background-color: $mint;
	box-shadow: 0 10px 16px rgba(40, 210, 198, 0.16), 0 4px 6px rgba(0, 0, 0, 0.06);
}
.circle--grey {
	background-color: $grey-light;
	box-shadow: 0 10px 16px rgba(196, 196, 196, 0.16), 0 4px 6px rgba(0, 0, 0, 0.06);
}
.circle--tiny {
	width: 36px;
	height: 36px;
	@include breakpoint(laptop) {
		width: 26px;
		height: 26px;
	}
}
.circle--small {
	width: 42px;
	height: 42px;
	@include breakpoint(laptop) {
		width: 22px;
		height: 22px;
	}
}
.circle--big {
	width: 58px;
	height: 58px;
	@include breakpoint(laptop) {
		width: 38px;
		height: 38px;
	}
}
.circle--large {
	width: 61px;
	height: 61px;
	@include breakpoint(laptop) {
		width: 40px;
		height: 40px;
	}
}
