<div class="links-list">
	<div class="wrap wrap--small">
		<h3 class="h3 links-list__title">{{title}}</h3>
		{{#if linksList}}
			<ul class="links-list__list">
				{{#each linksList}}
					<li class="links-list__item">
						<a class="btn links-list__link" href="javascript:;">{{this.link}}</a>
					</li>
				{{/each}}
			</ul>
			<div class="circle circle--mint links-list__circle links-list__circle--left"></div>
			<div class="circle circle--blue links-list__circle links-list__circle--right"></div>
		{{/if}}
	</div>
</div>

{{!-- Korisni linkovi --}}
