{{#> master data }}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main">
			{{> home-intro homeIntro}}

			{{> news-slider newsSlider}}

			{{> featured-project featuredProject}}

			{{> support support}}

			{{> join-module joinUs}}
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
