{{#> master data}}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main single-blog-page">
			{{> page-intro pageIntro}}

			{{> news-details newsDetails}}

			<div class="circle circle--mint single-blog-circle-left"></div>
			<div class="circle circle--large circle--blue single-blog-circle-right"></div>
			<div class="single-blog-shape-blue"><img src="assets/images/shapes/single-blog-shape-01.svg" alt=""></div>
			<div class="single-blog-shape-mint"><img src="assets/images/shapes/single-blog-shape-02.svg" alt=""></div>
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
