{{#> master data}}
	{{#*inline "template-content"}}

		{{> header header}}

		<main class="main single-blog-page">
			{{> page-intro pageIntro}}

			{{> news-details newsDetails}}

			<div class="single-blog-shape-blue"><img src="" alt=""></div>
			<div class="single-blog-shape-mint"><img src="" alt=""></div>
		</main>

		{{> footer footer}}

	{{/inline}}
{{/master}}
