@using Patrija.Core.ViewModels.Partials.AboutUsPage;
@using Patrija.Core.ViewModels.Partials.Features;
@inherits UmbracoViewPage<FeaturedProjectsContainerViewModel>
    
<div class="project">
    <div class="wrap wrap--medium">
        <h2 class="h2 project__main-title">@Model.Title</h2>
        @for (int i= 0; i < Model.UntaggedFeatures.Length; i++)
        {
            @Html.DisplayFor(m => Model.UntaggedFeatures[i])
        }
    </div>
</div>