<div class="support">
	<div class="wrap">
		{{#if supportItem}}
			<div class="support__container">
				{{#each supportItem}}
					<div class="support__item">
						<h3 class="h3">{{this.title}}</h3>
						<p class="support__item-text">{{this.text}}</p>
						<a class="btn{{#if mintBtn}} btn--mint{{/if}}" href="javascript:;">{{this.link}}</a>
					</div>
				{{/each}}
			</div>
		{{/if}}
	</div>
</div>


{{!-- Kako da nam se pridruzhish, kako da nas podrzhish homepage --}}
