<div class="support">
	<div class="wrap support__wrap">
		{{#if supportItem}}
			<div class="support__container">
				{{#each supportItem}}
					<div class="support__item">
						<div class="support__item-content">
							<h3 class="h3 support__item-title">{{this.title}}</h3>
							<p class="support__item-text">{{this.text}}</p>
							<a class="btn{{#if mintBtn}} btn--mint{{/if}}" href="javascript:;">{{this.link}}</a>
						</div>
					</div>
				{{/each}}
				<div class="circle circle--grey circle--small support__circle"></div>
			</div>
		{{/if}}
		<div class="support__image-outer">
			<div class="support__image-mask">
				<div class="support__image has-cover" style="background-image: url('{{image}}');"></div>
			</div>
		</div>
	</div>
</div>


{{!-- Kako da nam se pridruzhish, kako da nas podrzhish homepage --}}
