//---------- articles
//------------------------------------------------------------------------------

.articles {
	padding-top: 196px;
	padding-bottom: 180px;
	margin-bottom: 90px;
	@include mq-only(lg) {
		padding-top: 80px;
		padding-bottom: 60px;
		margin-bottom: 40px;
	}
	@include mq-down(sm) {
		padding-top: 20px;
		padding-bottom: 40px;
		margin-bottom: 20px;
	}
}

.articles__title {
	padding: 0 94px;
	margin-bottom: 58px;
	@include mq-down(md) {
		padding: 0;
	}
	@include mq-down(sm) {
		margin-bottom: 40px;
	}
}

.articles__container {
	padding: 0 79px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include mq-down(md) {
		padding: 0;
	}
	@include mq-down(sm) {
		display: block;
	}
}

.articles__item {
	font-size: 0;
	padding: 0 15px;
	margin-bottom: 25px;
	flex: 1 1 50%;
	max-width: 50%;
	@include mq-down(sm) {
		max-width: 100%;
		display: block;
		padding: 0;
	}
}

.articles__item-image {
	width: 100%;
	position: relative;
	padding-bottom: 57%;
	border-radius: 10px;
	display: block;
}

.articles__item-img {
	position: relative;
	margin-right: 30px;
	vertical-align: top;
	display: inline-block;
	width: 246px;
	@include mq-down(lg) {
		width: 100%;
		display: block;
	}
}

.articles__item-content {
	padding-top: 18px;
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 276px);
	@include mq-down(lg) {
		width: 100%;
		display: block;
	}
	@include mq-down(sm) {
		padding-top: 8px;
	}
}

.articles__item-title {
	line-height: 25px;
	@include mq-down(sm) {
		line-height: 22px;
	}
}

.articles__item-date {
	font-size: 14px;
	line-height: 22px;
	display: block;
	padding: 4px 2px 6px;
	@include mq-down(sm) {
		font-size: 12px;
		line-height: 18px;
		padding: 4px 2px;
	}
}

.articles__buttons {
	margin-top: -12px;
	text-align: center;
}

.articles__load-more {
	min-width: 262px;
}
