//---------- contact-form
//------------------------------------------------------------------------------

.contact-form {
	margin-bottom: 80px;
}

.contact-form__address-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10px;
	display: block;
}

.contact-form__address-details {
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 28px;
}

.contact-form__content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 22px;
	@include mq-down(md) {
		padding: 0;
		flex-direction: column;
	}
}

.contact-form__info {
	flex: 1 1 50%;
	max-width: 50%;
	padding: 0 8px;
	@include mq-down(md) {
		flex: 1 1 100%;
		max-width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}
}

.contact-form__container {
	flex: 1 1 50%;
	max-width: 50%;
	padding: 0 100px 20px 0;
	@include mq-down(lg) {
		padding-right: 0;
	}
	@include mq-down(md) {
		flex: 1 1 100%;
		max-width: 100%;
		padding: 0;
		width: 100%;
	}
	.btn--submit {
		@include mq-down(md) {
			margin: 20px 0 0;
			width: auto;
		}
	}
}

.contact-form__form-title {
	margin-bottom: 22px;
	max-width: 384px;
}
