//---------- donations
//------------------------------------------------------------------------------

.donations {
	text-align: center;
	padding-bottom: 140px;
	@include mq-down(sm) {
		padding-bottom: 40px;
	}
}

.donations__content {
	padding: 0 74px;
	@include mq-down(sm) {
		padding: 0;
	}
}

.donations__title {
	margin-bottom: 16px;
}

.donations__text {
	margin-bottom: 98px;
	@include mq-down(sm) {
		margin-bottom: 36px;
	}
}

.donations__logos {
	font-size: 0;
	@include mq-down(sm) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
}

.donations__logo {
	display: inline-block;
	width: 274px;
	height: 170px;
	vertical-align: top;
	background: #fbfbfb;
	border-radius: 10px;
	margin: 0 10px;
	@include mq-down(sm) {
		flex: 1 1 calc(50% - 20px);
		height: auto;
		margin: 0 10px 14px;
		max-width: calc(50% - 20px);
	}
}

.donations__logo-img {
	max-height: 100%;
	max-width: 100%;
}
