//---------- faq
//------------------------------------------------------------------------------

.faq {
	position: relative;
	padding-top: 130px;
	margin-bottom: 88px;
	@include breakpoint(laptop) {
		padding-top: 60px;
	}
	@include mq-only(md) {
		padding-top: 40px;
	}
	@include mq-down(sm) {
		padding-top: 20px;
	}
}

.faq__wrap {
	max-width: 930px;
}

.faq__title {
	margin-bottom: 46px;
	text-align: center;
	@include mq-down(sm) {
		margin-bottom: 26px;
	}
}

.faq__accordion-item {
	margin-bottom: 15px;
}

.faq__accordion-btn {
	width: 100%;
	padding: 24px 60px;
	font-size: 18px;
	font-weight: 400;
	color: $white;
	line-height: 30px;
	text-align: left;
	border-radius: 10px;
	position: relative;
	background-color: $blue;
	display: block;
	.loaded & {
		transition: $duration $ease;
	}
	&::after {
		content: '';
		position: absolute;
		border-bottom: 3px solid $white;
		border-right: 3px solid $white;
		width: 13px;
		height: 13px;
		right: 38px;
		top: 52%;
		transform: translateY(-50%) rotate(-45deg);
		display: block;
		.loaded & {
			transition: $duration $ease;
		}
	}
	@include hover {
		background-color: $mint;
	}
	@include mq-only(md) {
		padding: 18px 24px;
	}
	@include mq-down(sm) {
		font-size: 14px;
		line-height: 30px;
		padding: 10px 20px;
	}
}

.faq__accordion-btn--active {
	&::after {
		right: 34px;
		top: 36%;
		transform: rotate(-315deg);
	}
}

.faq__accordion-content {
	padding: 28px 54px 12px 60px;
	display: none;
	@include mq-down(sm) {
		padding: 28px 20px 12px;
	}
	p {
		font-size: 18px;
		line-height: 30px;
		@include breakpoint(laptop) {
			font-size: 16px;
			line-height: 28px;
		}
		@include mq-down(sm) {
			font-size: 14px;
			line-height: 22px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.faq__shape {
	position: absolute;
	top: 248px;
	right: -550px;
	@include mq-up(xxl) {
		right: -22.5%;
	}
	@include mq-down(lg) {
		display: none;
	}
}
