//---------- featured-project
//------------------------------------------------------------------------------

.featured-project {
	position: relative;
}

.featured-project__item {
	position: relative;
}

.featured-project__item--normal {
	padding: 154px 80px 278px 33.8%;
	@include breakpoint(laptop) {
		padding-top: 104px;
		padding-bottom: 100px;
	}
	@include mq-only(lg) {
		padding-bottom: 60px;
	}
	@include mq-only(md) {
		padding: 101px 80px 100px 28.8%;
	}
	@include mq-down(sm) {
		padding: 235px 0 40px;
	}
}

.featured-project__item--reverse {
	padding: 200px 80px 200px 17%;
	@include breakpoint(laptop) {
		padding: 130px 80px 100px 12%;
	}
	@include mq-only(lg) {
		padding-bottom: 60px;
	}
	@include mq-only(md) {
		padding: 100px 80px 100px 8%;
	}
	@include mq-down(sm) {
		padding: 80vw 0 40px;
	}
}

.featured-project__content {
	max-width: 712px;
}

.featured-project__tag {
	text-transform: uppercase;
	margin-bottom: 4px;
}

.featured-project__title {
	margin-bottom: 14px;
}

.featured-project__text {
	margin-bottom: 22px;
	max-width: 712px;
	@include breakpoint(laptop) {
		max-width: 620px;
	}
	@include mq-only(lg) {
		max-width: 560px;
	}
	@include mq-only(md) {
		max-width: 410px;
	}
}

.featured-project__image-outer {
	position: absolute;
	top: 0;
	right: 78%;
	width: 45vw;
	@include mq-down(sm) {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		width: 80vw;
	}
}

.featured-project__mask {
	position: relative;
	padding-bottom: 80.788%;
	&::after {
		background-image: url('../assets/images/mask/featured-project-left.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.featured-project__image-outer--reverse {
	right: auto;
	left: 77%;
	width: 37.5vw;
	@include mq-down(sm) {
		left: 50%;
		transform: translateX(-50%);
		width: 66vw;
	}
}

.featured-project__mask--reverse {
	position: relative;
	padding-bottom: 100%;
	&::after {
		background-image: url('../assets/images/mask/featured-project-right.svg');
	}
}

.featured-project__image {
	position: absolute;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	height: 99%;
}

.featured-project__additional-image {
	position: absolute;
	top: 50%;
	left: -6.6vw;
	transform: translateY(-50%);
	width: 44%;
	height: auto;
	z-index: 20;
	@include breakpoint(laptop) {
		width: 36%;
		left: -3.6vw;
	}
}

.featured-project__circle {
	position: absolute;
	top: 39.8%;
	right: 19.8%;
	@include breakpoint(laptop) {
		top: 40.8%;
	}
	@include mq-down(sm) {
		top: auto;
		right: 14.8%;
		bottom: 2%;
	}
}
