//----------  footer
//------------------------------------------------------------------------------
.footer {
	background-image: url('../assets/images/shapes/footer-shape.svg');
	padding: 30px 0;
	color: $white;
}
