//---------- gallery
//------------------------------------------------------------------------------

.gallery {
	padding: 50px 0;
	@include mq-only(md) {
		padding-bottom: 80px;
	}
}

.gallery__title {
	text-align: center;
	margin-bottom: 22px;
}

.gallery__container {
	padding: 0 94px;
	@include mq-down(sm) {
		padding: 0 30px;
	}
}

.gallery__slider {
	font-size: 0;
	margin: 0 -15px;
	.slick-arrow {
		top: 50%;
		margin-top: -50px;
	}
	.slick-prev {
		left: -78px;
	}
	.slick-next {
		right: -78px;
	}
	@include mq-between(md, lg) {
		.slick-prev {
			left: -68px;
		}
		.slick-next {
			right: -68px;
		}
	}
	@include mq-down(sm) {
		.slick-prev {
			left: -24px;
		}
		.slick-next {
			right: -24px;
		}
	}
}

.gallery__item {
	width: 33.333%;
	padding: 0 14px;
	vertical-align: top;
	display: inline-block;
	& + & {
		display: none;
	}
}

.gallery__image {
	width: 100%;
	position: relative;
	padding-bottom: 66%;
	border-radius: 15px;
	margin-bottom: 28px;
	@include mq-down(sm) {
		margin-bottom: 68px;
	}
}
