//----------  header
//------------------------------------------------------------------------------
.header {
	padding-top: 56px;
	padding-bottom: 20px;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	width: 290px;
}
.nav {
	vertical-align: middle;
	display: inline-block;
}
.nav__list {
	display: flex;
	padding-right: 12px;
}
.nav__item {
	margin: 0 10px;
}
.nav__link {
	position: relative;
	font-size: 16px;
	font-weight: 700;
	color: $grey;
	line-height: 20px;
	display: block;
	&::after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 6px;
		border-radius: 6px;
		background-color: $mint;
		transform: scaleX(0);
		.loaded & {
			transition: $duration $ease;
		}
	}
	@include hover {
		&::after {
			transform: scaleX(0.7);
		}
	}
}
.nav__link--active {
	&::before {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 50%;
		width: 6px;
		height: 6px;
		margin-left: -3px;
		border-radius: 50%;
		background-color: $mint;
	}
}
.header__join-btn {
	vertical-align: middle;
}
.nav-toggle {
	display: none;
}
