//---------- home-intro
//------------------------------------------------------------------------------

.home-intro {
	padding-top: 208px;
	margin-bottom: 480px;
	position: relative;
	@include breakpoint(laptop) {
		padding-top: 140px;
		margin-bottom: 370px;
	}
	@include mq-only(lg) {
		margin-bottom: 180px;
	}
	@include mq-only(md) {
		margin-bottom: 100px;
	}
	@include mq-down(sm) {
		padding-top: 160px;
		margin-bottom: 45px;
	}
}

.home-intro__wrap {
	max-width: 1470px;
	position: relative;
	@include breakpoint(laptop) {
		padding: 0 80px;
	}
}

.home-intro__text {
	max-width: 800px;
	font-size: 40px;
	font-weight: 700;
	line-height: 55px;
	margin-bottom: 34px;
	z-index: 101;
	@include breakpoint(laptop) {
		font-size: 30px;
		line-height: 40px;
		max-width: 600px;
	}
	@include mq-only(lg) {
		max-width: 560px;
	}
	@include mq-between(md, lg) {
		font-size: 28px;
		line-height: 38px;
	}
	@include mq-down(md) {
		font-size: 24px;
		line-height: 32px;
		max-width: 400px;
		position: relative;
	}
}

.home-intro__image-outer {
	position: absolute;
	width: 39.271vw;
	top: 0;
	left: 64%;
	z-index: -1;
	@include mq-down(xs) {
		width: 43vw;
		left: 58%;
	}
}

.home-intro__image {
	position: relative;
	padding-bottom: 88.065%;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../assets/images/mask/homepage-intro-mask.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.homepage-intro__img {
	position: absolute;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	height: 99%;
}

.home-intro__circle {
	position: absolute;
	border-radius: 50%;
	z-index: 100;
	display: block;
}

.home-intro__circle--blue {
	background-color: $blue;
	width: 61px;
	height: 61px;
	top: 9.8%;
	left: 19%;
	box-shadow: 0 10px 16px rgba(39, 142, 208, 0.16), 0 4px 6px rgba(0, 0, 0, 0.06);
	@include breakpoint(laptop) {
		width: 40px;
		height: 40px;
	}
	@include mq-down(md) {
		width: 24px;
		height: 24px;
	}
}

.home-intro__circle--mint {
	background-color: $mint;
	width: 49px;
	height: 49px;
	top: 74.2%;
	left: 13.7%;
	box-shadow: 0 10px 16px rgba(40, 210, 198, 0.16), 0 4px 6px rgba(0, 0, 0, 0.06);
	@include breakpoint(laptop) {
		width: 30px;
		height: 30px;
	}
	@include mq-down(md) {
		width: 20px;
		height: 20px;
	}
}

.home-intro__circle--grey {
	background-color: $grey-light;
	width: 42px;
	height: 42px;
	top: 81%;
	left: 81.4%;
	box-shadow: 0 10px 16px rgba(196, 196, 196, 0.16), 0 4px 6px rgba(0, 0, 0, 0.06);
	@include breakpoint(laptop) {
		width: 22px;
		height: 22px;
	}
	@include mq-down(md) {
		width: 18px;
		height: 18px;
	}
}
