//---------- home-intro
//------------------------------------------------------------------------------

.home-intro {
	padding-top: 208px;
}
.home-intro__wrap {
	max-width: 1470px;
}
.home-intro__text {
	font-size: 40px;
	font-weight: 700;
	line-height: 55px;
}
