//---------- image-text
//------------------------------------------------------------------------------

.image-text {
	padding: 42px 0 228px;
	@include breakpoint(laptop) {
		padding-bottom: 128px;
	}
	@include mq-only(lg) {
		padding-bottom: 100px;
	}
	@include mq-only(md) {
		padding-bottom: 60px;
	}
	@include mq-down(sm) {
		padding-bottom: 20px;
	}
}

.image-text__container {
	position: relative;
	width: 100%;
	padding-left: 40.6%;
	@include breakpoint(laptop) {
		padding-left: 35%;
	}
	@include mq-only(md) {
		padding-left: 35%;
	}
	@include mq-down(sm) {
		padding-left: 0;
	}
}

.image-text__image-outer {
	position: absolute;
	top: 0;
	left: 3.5%;
	width: 22.709vw;
	@include mq-down(sm) {
		left: 50%;
		transform: translateX(-50%);
		width: 80vw;
	}
}

.image-text__image {
	padding-bottom: 92.661%;
	&::after {
		background-image: url('../assets/images/mask/image-text-left.svg');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		display: block;
	}
	@include mq-only(md) {
		padding-bottom: 92.6%;
	}
}

.image-text__img {
	position: absolute;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	height: 99%;
}

.image-text__content {
	max-width: 694px;
	display: inline-block;
	padding: 18px 0;
	@include mq-only(lg) {
		max-width: 560px;
	}
	@include mq-down(sm) {
		padding-top: 80vw;
		max-width: 100%;
	}
}

.image-text__title {
	margin-bottom: 28px;
	@include mq-down(md) {
		margin-bottom: 16px;
	}
}

.image-text__text {
	margin-bottom: 32px;
}

.image-text__container--reverse {
	padding-left: 30px;
	margin-bottom: -172px;
	.image-text__image-outer {
		top: 2px;
		right: -12px;
		left: auto;
		width: 34.9vw;
	}
	.image-text__image {
		padding-bottom: 85%;
		&::after {
			background-image: url('../assets/images/mask/image-text-right.svg');
		}
	}
	.image-text__content {
		padding: 70px 0;
		max-width: 630px;
	}
	@include breakpoint(laptop) {
		margin-bottom: -100px;
	}
	@include mq-only(lg) {
		.image-text__content {
			max-width: 520px;
		}
	}
	@include mq-only(md) {
		padding-left: 0;
		margin-bottom: -60px;
		.image-text__content {
			max-width: 420px;
		}
	}
	@include mq-down(sm) {
		padding-left: 0;
		padding-top: 60vw;
		margin-bottom: 0;
		.image-text__image-outer {
			left: 50%;
			transform: translateX(-50%);
			width: 80vw;
			right: auto;
		}
		.image-text__content {
			max-width: 100%;
		}
	}
}
