//---------- links-list
//------------------------------------------------------------------------------

.links-list {
	text-align: center;
	padding: 42px 0 96px;
	position: relative;
}

.links-list__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.links-list__item {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 10px;
}

.links-list__link {
	display: block;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	padding: 34px;
	margin-bottom: 20px;
	border-radius: 8px;
	@include hover {
		background-color: $mint;
	}
}

.links-list__title {
	margin-bottom: 35px;
}

.links-list__circle {
	width: 61px;
	height: 61px;
	position: absolute;
}

.links-list__circle--right {
	top: 42.2%;
	right: 9.2vw;
}

.links-list__circle--left {
	top: 47.5%;
	left: 8.5vw;
}
