//---------- news-slider
//------------------------------------------------------------------------------

.news-slider {
	margin-bottom: 198px;
	@include breakpoint(laptop) {
		margin-bottom: 120px;
	}
	@include mq-only(md) {
		margin-bottom: 80px;
	}
	@include mq-down(sm) {
		margin-bottom: 60px;
	}
}

.news-slider__background {
	position: relative;
	padding-top: 168px;
	padding-bottom: 334px;
	margin-bottom: 126px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	.circle--grey {
		top: 14.4%;
		right: 8.5%;
	}
	.circle--blue {
		bottom: 20px;
		left: 47.9%;
	}
	@include breakpoint(laptop) {
		padding-top: 100px;
		padding-bottom: 140px;
		margin-bottom: 86px;
		background-size: cover;
	}
	@include mq-only(md) {
		padding-top: 80px;
		padding-bottom: 100px;
		margin-bottom: 60px;
	}
	@include mq-down(sm) {
		padding-top: 40px;
		padding-bottom: 100px;
		margin-bottom: 20px;
	}
}

.news-slider__title {
	text-align: center;
	margin-bottom: 45px;
}

.news-slider__container {
	padding: 0 94px;
}

.news-slider__slider {
	font-size: 0;
	margin: 0 -15px;
}

.news-slider__item {
	width: 33.333%;
	padding: 0 15px;
	vertical-align: top;
	display: inline-block;
}

.news-slider__image {
	width: 100%;
	position: relative;
	padding-bottom: 66%;
	border-radius: 15px;
	margin-bottom: 22px;
}

.news-slider__meta {
	position: relative;
	width: 100%;
	height: 30px;
	margin-bottom: 12px;
}

.news-slider__category {
	background-color: $blue;
	font-size: 14px;
	font-weight: 400;
	color: $white;
	line-height: 18px;
	padding: 6px 20px;
	border-radius: 15px;
	display: inline-block;
	@include breakpoint(laptop) {
		font-size: 12px;
		padding: 4px 14px;
	}
}

.news-slider__item-title {
	margin-bottom: 5px;
}

.news-slider__date {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	font-weight: 300;
	color: $grey;
	line-height: 30px;
	@include breakpoint(laptop) {
		font-size: 12px;
	}
}

.news-slider__text {
	font-size: 14px;
	line-height: 25px;
	@include mq-only(lg) {
		line-height: 22px;
	}
}
