//---------- news-details
//------------------------------------------------------------------------------

.news-details {
	margin-bottom: 72px;
}

.news-details__container {
	display: flex;
	justify-content: space-between;
	padding-left: 13%;
}

.news-details__content {
	padding: 18px 33px;
	flex: 1 1 auto;
}

.news-details__share {
	padding: 4px 0;
}

.news-details__share-title {
	vertical-align: top;
	padding-top: 4px;
	padding-right: 20px;
	display: inline-block;
}

.news-details__share-links {
	display: inline-block;
	font-size: 0;
}

.news-details__share-link {
	width: 40px;
	height: 40px;
	background-color: $blue;
	border-radius: 50%;
	position: relative;
	margin: 0 6px;
	display: inline-block;
	.loaded & {
		transition: 0.3s ease-out;
	}
	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		font-size: 20px;
	}
	@include hover {
		background-color: $mint;
		box-shadow: 0 10px 16px rgba(39, 142, 208, 0.16);
	}
}

.news-details__sidebar {
	padding: 36px 54px 36px 33px;
	flex: 1 0 484px;
}

.news-details__sidebar-title {
	margin-bottom: 22px;
}

.news-details__item {
	display: block;
	font-size: 0;
	margin-bottom: 14px;
	width: 100%;
}

.news-details__item-image {
	border-radius: 10px;
}

.news-details__item-img {
	margin-right: 28px;
	vertical-align: top;
	display: inline-block;
	width: 114px;
}

.news-details__item-content {
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 142px);
}

.news-details__item-title {
	line-height: 25px;
}

.news-details__item-date {
	font-size: 14px;
	line-height: 22px;
	display: block;
	padding: 12px 4px 0;
}
