//---------- news-list
//------------------------------------------------------------------------------

.news-list {
	padding: 60px 0;
	@include mq-down(sm) {
		padding: 40px 0;
	}
}

.news-list__title {
	text-align: center;
	margin-bottom: 45px;
}

.news-list__container {
	padding: 0 79px;
	display: flex;
	flex-wrap: wrap;
	@include mq-only(md) {
		padding: 0;
	}
	@include mq-down(sm) {
		display: block;
		padding: 0;
	}
}

.news-list__item {
	padding: 0 15px;
	margin-bottom: 64px;
	flex: 1 1 33.333%;
	max-width: 33.333%;
	@include mq-only(md) {
		margin-bottom: 48px;
	}
	@include mq-down(sm) {
		max-width: 100%;
		display: block;
		padding: 0;
		margin-bottom: 25px;
	}
}

.news-list__image {
	width: 100%;
	position: relative;
	padding-bottom: 66%;
	border-radius: 15px;
	margin-bottom: 18px;
	@include mq-down(sm) {
		margin-bottom: 10px;
	}
}

.news-list__meta {
	position: relative;
	width: 100%;
	margin-bottom: 4px;
}

.news-list__item-title {
	margin-bottom: 5px;
}

.news-list__date {
	font-size: 14px;
	font-weight: 300;
	color: $grey;
	line-height: 18px;
	display: block;
	@include mq-down(sm) {
		font-size: 12px;
	}
}

.news-list__text {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 0;
	height: 50px;
}

.news-list__buttons {
	margin-top: -12px;
	text-align: center;
}

.news-list__load-more {
	min-width: 262px;
}
