//---------- page-intro
//------------------------------------------------------------------------------

.page-intro {
	height: 720px;
	margin-bottom: 130px;
	.wrap {
		height: 100%;
	}
	.circle--blue {
		top: -5.4%;
		left: 33.5%;
	}
	.circle--mint {
		top: 76%;
		left: -15.1%;
	}
	@include breakpoint(laptop) {
		height: 600px;
		margin-bottom: 20px;
	}
	@include mq-between(md, lg) {
		height: 550px;
		margin-bottom: 20px;
	}
	@include mq-only(md) {
		height: 400px;
	}
	@include mq-down(sm) {
		height: auto;
		margin-bottom: 20px;
	}
}

.page-intro__container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 176px 0 106px 30px;
	@include breakpoint(laptop) {
		padding-bottom: 86px;
	}
	@include mq-between(md, lg) {
		padding: 140px 0 80px 10px;
	}
	@include mq-down(sm) {
		padding: 80vw 0 20px;
	}
}

.page-intro__content {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.page-intro__content-align {
	width: 100%;
}

.page-intro__date {
	font-weight: 400;
	margin-bottom: 10px;
}

.page-intro__title {
	max-width: 52%;
	@include mq-down(sm) {
		max-width: 100%;
	}
}

.page-intro__text {
	max-width: 49%;
	margin-bottom: 34px;
	padding-top: 26px;
	@include mq-down(sm) {
		max-width: 100%;
		margin-bottom: 10px;
	}
}

.page-intro__image-outer {
	position: absolute;
	width: 39.271vw;
	top: 10%;
	left: 59%;
	@include mq-down(sm) {
		top: 30px;
		left: 55%;
		transform: translateX(-50%);
		width: 70vw;
	}
}

.page-intro__image {
	position: relative;
	padding-bottom: 88.065%;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../assets/images/mask/page-intro-mask.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.page-intro__image--secondary {
	padding-bottom: 90%;
	&::after {
		background-image: url('../assets/images/mask/page-intro-secondary-mask.svg');
	}
	.circle--blue {
		top: 27.8%;
		right: 6.2%;
		left: auto;
	}
	.circle--mint {
		top: 80.2%;
		left: -13.8%;
	}
}

.page-intro__image--tertiary {
	padding-bottom: 91%;
	&::after {
		background-image: url('../assets/images/mask/page-intro-tertiary-mask.svg');
	}
	.circle--blue {
		top: 3.6%;
		left: 66.5%;
	}
	.circle--mint {
		top: 72%;
		left: -10%;
	}
}

.page-intro__img {
	position: absolute;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	height: 99%;
}

.page-intro__circle {
	position: absolute;
	border-radius: 50%;
	z-index: 100;
	display: block;
}
