//---------- support
//------------------------------------------------------------------------------

.support {
	padding: 212px 0;
	@include breakpoint(laptop) {
		padding: 96px 0;
	}
	@include mq-only(md) {
		padding: 60px 0;
	}
	@include mq-down(sm) {
		padding: 40px 0 20px;
	}
}

.support__wrap {
	position: relative;
}

.support__container {
	padding: 0 7%;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 10;
	@include mq-only(lg) {
		padding: 0 5%;
	}
	@include mq-down(md) {
		display: block;
	}
	@include mq-down(sm) {
		padding: 0;
	}
}

.support__item {
	flex: 0 0 49%;
	max-width: 49%;
	text-align: center;
	box-shadow: 4px 4px 50px rgba($black, 0.1);
	border-radius: 10px;
	display: flex;
	align-items: center;
	@include mq-down(md) {
		display: block;
		max-width: 100%;
		margin-bottom: 24px;
	}
}

.support__item-content {
	background-color: $white;
	padding: 72px;
	border-radius: 10px;
	@include breakpoint(laptop) {
		padding: 48px;
	}
	@include mq-down(sm) {
		padding: 40px 20px;
	}
}

.support__item-title {
	margin-bottom: 10px;
}

.support__item-text {
	margin-bottom: 26px;
}

.support__image-outer {
	position: absolute;
	top: -59%;
	right: 80.6%;
	width: 34.375vw;
	@include breakpoint(laptop) {
		top: -46%;
	}
	@include mq-only(lg) {
		top: -30%;
	}
	@include mq-only(md) {
		top: -100px;
	}
	@include mq-down(sm) {
		top: -6%;
		right: 77.6%;
		width: 46vw;
	}
}

.support__image-mask {
	position: relative;
	padding-bottom: 120%;
	&::after {
		background-image: url('../assets/images/mask/support-shape.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.support__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

.support__circle {
	top: 150px;
	right: -1.5%;
	@include mq-down(sm) {
		display: none;
	}
}
