//---------- templates
//------------------------------------------------------------------------------

.lice-ulice-page {
	.lice-ulice-shape {
		position: absolute;
		top: 1218px;
		left: -25.2vw;
		pointer-events: none;
	}
}
