//---------- templates
//------------------------------------------------------------------------------

.lice-ulice-page {
	.lice-ulice-shape,
	.lice-ulice-circle {
		position: absolute;
		pointer-events: none;
	}
	.lice-ulice-shape {
		top: 1218px;
		left: -25.2vw;
	}
	.lice-ulice-circle {
		top: 1465px;
		left: 16vw;
	}
	@include breakpoint(laptop) {
		.lice-ulice-shape,
		.lice-ulice-circle {
			display: none;
		}
	}
	@include mq-down(lg) {
		.lice-ulice-shape,
		.lice-ulice-circle {
			display: none;
		}
	}
}

.single-blog-page {
	position: relative;
}

.single-blog-shape-blue {
	position: absolute;
	top: 36.4%;
	left: -25.2vw;
	pointer-events: none;
	width: 47vw;
	z-index: -1;
	@include mq-down(lg) {
		width: 30vw;
		left: -18.2vw;
	}
	@include mq-down(md) {
		display: none;
	}
}

.single-blog-shape-mint {
	position: absolute;
	top: 59%;
	right: -28.8vw;
	pointer-events: none;
	width: 50vw;
	z-index: -1;
	@include mq-down(lg) {
		top: 71.4%;
		right: -17.8vw;
		width: 38vw;
	}
	@include mq-down(md) {
		display: none;
	}
}

.single-blog-circle-left {
	top: 37.8%;
	left: 9.5vw;
	@include mq-down(lg) {
		left: 5.5vw;
	}
	@include mq-down(md) {
		left: 6vw;
	}
	@include mq-down(sm) {
		display: none;
	}
}

.single-blog-circle-right {
	top: 64%;
	right: 9vw;
	@include mq-down(lg) {
		right: 2vw;
	}
	@include mq-down(sm) {
		display: none;
	}
}
