//---------- testimonials
//------------------------------------------------------------------------------

.testimonials {
	position: relative;
	text-align: center;
	padding-top: 246px;
	padding-bottom: 178px;
	margin-bottom: 126px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	.circle--grey {
		bottom: 64px;
		left: 9.8%;
	}
	.circle--blue {
		top: -58px;
		right: 70px;
	}
	@include breakpoint(laptop) {
		padding-top: 160px;
		padding-bottom: 100px;
		margin-bottom: 100px;
	}
	@include mq-only(md) {
		padding-top: 100px;
		padding-bottom: 60px;
		margin-bottom: 100px;
	}
	@include mq-down(sm) {
		padding: 60px 0 20px;
		margin-bottom: 20px;
	}
}

.testimonials__wrap {
	max-width: 50vw;
	@include breakpoint(laptop) {
		max-width: 70vw;
	}
	@include mq-down(lg) {
		max-width: 100%;
	}
}

.testimonials__title {
	margin-bottom: 12px;
}

.testimonials__slider {
	.slick-list {
		overflow: visible;
	}
	.slick-prev {
		top: 30px;
		left: 58px;
	}
	.slick-next {
		top: 30px;
		right: 58px;
	}
	@include mq-between(md, lg) {
		.slick-prev {
			left: 20px;
		}
		.slick-next {
			right: 20px;
		}
	}
	@include mq-down(sm) {
		.slick-prev {
			top: 30%;
			left: -5px;
		}
		.slick-next {
			top: 30%;
			right: -5px;
		}
	}
}

.testimonials__item {
	padding: 0 10vw;
	opacity: 0.2;
	transform: scale(0.9) translateY(-80px);
	& + & {
		display: none;
	}
	.loaded & {
		transition: $duration-slow $ease;
	}
	.slick-active & {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

.testimonials__text {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 30px;
}

.testimonials__image {
	width: 67px;
	height: 67px;
	border-radius: 50%;
	box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.06);
	overflow: hidden;
	display: inline-block;
}

.testimonials__author {
	font-size: 20px;
	font-weight: 700;
	color: $grey;
	line-height: 30px;
	text-align: center;
	display: block;
	@include mq-only(md) {
		font-size: 18px;
	}
	@include mq-down(sm) {
		font-size: 16px;
	}
}

.testimonials--simple {
	padding-top: 195px;
	padding-bottom: 80px;
	margin-top: -45px;
	.testimonials__wrap {
		max-width: 820px;
	}
	.testimonials__text {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 44px;
	}
	.testimonials__item {
		padding: 0;
		opacity: 1;
		transform: scale(1) translateY(0);
	}
	.slick-list {
		overflow: hidden;
	}
	.slick-prev {
		top: 122px;
		left: -112px;
	}
	.slick-next {
		top: 122px;
		right: -112px;
	}
	.circle--blue {
		top: 42px;
		left: 9.2%;
		right: auto;
	}
	@include breakpoint(laptop) {
		padding-top: 140px;
		margin-bottom: 40px;
	}
	@include mq-only(md) {
		padding-top: 100px;
		padding-bottom: 40px;
		margin-bottom: 60px;
		.testimonials__text {
			font-size: 14px;
			line-height: 25px;
		}
	}
	@include mq-down(sm) {
		padding-top: 20px;
		margin-top: 0;
		padding-bottom: 40px;
		.circle--blue {
			top: -30px;
		}
	}
}
