//---------- text-image
//------------------------------------------------------------------------------

.text-image {
	padding: 42px 0 164px;
	@include mq-down(sm) {
		padding-bottom: 42px;
	}
}

.text-image__container {
	position: relative;
	padding: 0 30px;
	@include mq-down(sm) {
		padding: 80vw 0 0;
	}
}

.text-image__content {
	max-width: 44%;
	@include mq-down(sm) {
		max-width: 100%;
	}
}

.text-image__image-outer {
	position: absolute;
	top: 17px;
	right: 6.5vw;
	width: 26.39vw;
	@include mq-down(sm) {
		top: 0;
		width: 80vw;
		left: 50%;
		right: auto;
		transform: translateX(-50%);
	}
}

.text-image__image {
	position: relative;
	padding-bottom: 85.55%;
	&::after {
		background-image: url('../assets/images/mask/image-text-right.svg');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		display: block;
	}
}

.text-image__img {
	position: absolute;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	height: 99%;
}

.text-image__title {
	margin-bottom: 20px;
}

.text-image__circle {
	top: 254px;
	right: 0;
}
