//---------- text-block
//------------------------------------------------------------------------------

.text-block {
	margin-bottom: 220px;
	@include breakpoint(laptop) {
		margin-bottom: 120px;
	}
	@include mq-only(md) {
		margin-bottom: 80px;
	}
	@include mq-down(sm) {
		margin-bottom: 40px;
	}
}

.text-block__title {
	text-align: center;
	margin-bottom: 26px;
}

.text-block__text {
	display: inline-block;
	max-width: 44.56%;
	padding: 0 22px;
	@include mq-down(sm) {
		min-width: 100%;
		padding: 0;
	}
}

.text-block__content {
	text-align: center;
}

.text-block__text--left {
	text-align: right;
	vertical-align: top;
	@include mq-down(sm) {
		text-align: left;
	}
}

.text-block__text--right {
	text-align: left;
	vertical-align: top;
	@include mq-down(sm) {
		text-align: left;
	}
}
