//---------- text-image
//------------------------------------------------------------------------------

.text-image {
	padding: 42px 0 100px;
	@include mq-down(md) {
		padding-bottom: 80px;
	}
	@include mq-down(sm) {
		padding-bottom: 42px;
	}
}

.text-image__container {
	position: relative;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include mq-down(md) {
		flex-direction: column;
		padding: 0;
	}
}

.text-image__content {
	max-width: 44%;
	display: inline-block;
	@include mq-down(md) {
		max-width: 100%;
		display: block;
		margin-bottom: 30px;
	}
}

.text-image__image-outer {
	display: inline-block;
	width: 26.39vw;
	margin-right: 8%;
	@include mq-down(md) {
		width: 50vw;
		margin-right: 0;
		display: block;
	}
	@include mq-down(sm) {
		width: 80vw;
	}
}

.text-image__image {
	position: relative;
	padding-bottom: 85.55%;
	&::after {
		background-image: url('../assets/images/mask/image-text-right.svg');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		display: block;
	}
}

.text-image__img {
	position: absolute;
	top: 0.5%;
	left: 0.5%;
	width: 99%;
	height: 99%;
}

.text-image__title {
	margin-bottom: 20px;
}

.text-image__circle {
	top: 254px;
	right: 0;
	z-index: -1;
}
