@model Patrija.Core.ViewModels.Shared.ArticleContainerViewModel
@{
    var hasBackground = Model.BackgroundImage != null;
    var newsSliderClass = hasBackground ? "news-slider__background has-cover" : "";
    var backgroundStyle = hasBackground ? $"background-image: url('{Model.BackgroundImage.Url}');" : "";
}
<div class="news-slider @newsSliderClass" style="@backgroundStyle">
    <div class="wrap wrap--normal">
        <h2 class="h2 news-slider__title">@Model.Title</h2>
        @if (Model.Articles.Any())
        {
            <div class="news-slider__container">
                <div class="news-slider__slider js-news-slider">
                    @foreach (var article in Model.Articles)
                    {
                        @Html.Partial("~/Views/Partials/Shared/_Article.cshtml", article)
                    }
                </div>
            </div>
        }
    </div>
    @if (hasBackground)
    {
        <span class="circle circle--grey"></span>
        <span class="circle circle--blue circle--large"></span>
    }
</div>
