@model Patrija.Core.ViewModels.Shared.LinkViewModel

@{
    var className = ViewData["className"] as string ?? "btn";
}

<a class="@className" target="@Model.Target" href="@Model.Url">@Model.Content</a>