@using Patrija.Core.ViewModels.Partials.Share
@inherits UmbracoViewPage<ShareViewModel>

<div class="news-details__share-links">
    <a class="news-details__share-link" href="@Model.Populate( Patrija.Common.AppSettings.FacebookUrl, Model.CurrentPage)" target="_blank"><span class="icon font-ico-facebook"></span></a>
    <a class="news-details__share-link" href="@Model.Populate( Patrija.Common.AppSettings.TwitterUrl, Model.CurrentPage)" target="_blank"><span class="icon font-ico-twitter"></span></a>
    <a class="news-details__share-link" href="@Model.Populate( Patrija.Common.AppSettings.LinkedInUrl, Model.CurrentPage)" target="_blank"><span class="icon font-ico-youtube"></span></a>
</div>
