@model Patrija.Core.ViewModels.Shared.TestimonialViewModels
<div class="testimonials__item">
    <p class="testimonials__text">@Model.Text</p>
    <div class="testimonials__image">
        <img src="@Model.AuthorsImage.Url" alt="">
    </div>
    <span class="testimonials__author">@Model.Author</span>
</div>
